html {
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}
body {
  margin: 1rem;
  padding: 0;
}

a {
  color: #0066cc;
  text-decoration: none;
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline;
}
